{% extends 'adminindex.html' %}
{% load static %}
{% block body %}
<section id="main-content">
    <section class="wrapper">
        <div class="table-agile-info">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Basic table
                </div>
                <div>
                    <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
                        <thead>
                        <tr>
                            <th data-breakpoints="xs">ID</th>
                            <th>Teacher Name</th>
                            <th>Email ID</th>
                            <th>Mobile Number</th>
                            <th>address</th>
                            <th>Profile Pic</th>
                            <th>Salary</th>
                            <th>Status</th>
                            <th>Action</th>


                        </tr>
                        </thead>
                        <tbody>
                        {% for i in e %}
                        <tr>
                            <th>{{forloop.counter}}</th>
                            <th>{{i.user.first_name}}{{i.user.last_name}}</th>
                            <th>{{i.user.email}}</th>
                            <th>{{i.mobile_number}}</th>
                            <th>{{i.address }}</th>
                              <td><img src="{{i.image.url}}" style="width:100px"/></td>
                            <th>{{i.salary }}</th>
                            <th>{{i.status}}</th>
                            <th><a href="updateTeacherstatus/{{i.id}}"> <i class="fa fa-edit" style="font-size:20px;color:green;"></i></a> </td>
                            <th><a href="deleteTeacher/{{i.id}}"  onclick="return confirm('Are you sure want to delete?')"> <i class="fa fa-trash" style="font-size:20px;color:red;"></i></a> </td>
      </th>


                        </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </section>
    <!-- footer -->
    <div class="footer">
			<div class="wthree-copyright">
			  <p> Oct 2022 | Design by <a href="https://www.linkedin.com/in/priyanshu-sisodiya-b724a8213/" target="_blank">Priyanshu Sisodiya</a></p>
			</div>
 </div>
    <!-- / footer -->
</section>
{% endblock %}