{% extends 'teacherindex.html' %}
{% load static %}
{% block body %}
<section id="main-content">
    <section class="wrapper">
        <div class="table-agile-info">
            <div class="panel panel-default">
                <div class="panel-heading">
                   courses
                </div>
                <div>
                    <table class="table" ui-jq="footable" ui-options='{
        "paging": {
          "enabled": true
        },
        "filtering": {
          "enabled": true
        },
        "sorting": {
          "enabled": true
        }}'>
                        <thead>
                        <tr>
                            <th data-breakpoints="xs">ID</th>
                            <th>Branch Name</th>
                            <th>Course Name</th>
                            <th>Total Question</th>
                            <th>Total Marks</th>
                            <th>View</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for i in e %}
                        <tr>
                            <th>{{forloop.counter}}</th>
                            <th>{{i.branch_name.branch_name}}</th>
                            <th>{{i.courses_name}}</th>
                            <th>{{i.total_question }}</th>
                            <th>{{i.total_marks }}</th>
                            <th><a href="/veiwquestion2/{{i.id}}"> <i class="fa fa-eye" style="font-size:20px;color:green;"></i></a> </td>

      </th>


                        </tr>
                        {% endfor %}
                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </section>
    <!-- footer -->
    <div class="footer">
			<div class="wthree-copyright">
			  <p> Oct 2022 | Design by <a href="https://www.linkedin.com/in/priyanshu-sisodiya-b724a8213/" target="_blank">Priyanshu Sisodiya</a></p>
			</div>
 </div>
    <!-- / footer -->
</section>
{% endblock %}