{% extends 'teacherindex.html' %}
{% load static %}
{% block body %}
<section id="main-content">
    <section class="wrapper">
        <div class="table-agile-info">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Basic table
                </div>
                <div class="container">

                    <div class="row" style="margin-left:5%;margin-right:5%;margin-top:3%">
                        <div class="col-md-4" style="color:black">
                             Name:
                        </div>
                        <div class="col-md-8">
                            {{data.user.first_name}}{{data.user.last_name}}
                        </div>
                    </div>
                    <div class="row" style="margin-left:5%;margin-right:5%;margin-top:3%">
                        <div class="col-md-4" style="color:black">
                             Email:
                        </div>
                        <div class="col-md-8">
                            {{data.user.email}}
                        </div>
                    </div>
                    <div class="row" style="margin-left:5%;margin-right:5%;margin-top:3%">
                        <div class="col-md-4" style="color:black">
                             Mobile:
                        </div>
                        <div class="col-md-8">
                            {{data.mobile_number}}
                        </div>
                    </div>
                    <div class="row" style="margin-left:5%;margin-right:5%;margin-top:3%">
                        <div class="col-md-4" style="color:black">
                             status:
                        </div>
                        <div class="col-md-8">
                            {{data.status}}
                        </div>
                    </div>
                    <div class="row" style="margin-left:5%;margin-right:5%;margin-top:3%">
                        <div class="col-md-4" style="color:black">
                             Address:
                        </div>
                        <div class="col-md-8">
                            {{data.address}}
                        </div>
                    </div>
                    <div class="row" style="margin-left:5%;margin-right:5%;margin-top:3%">
                        <div class="col-md-4" style="color:black">
                             salary:
                        </div>
                        <div class="col-md-8">
                            {{data.salary}}
                        </div>
                    </div>
                    <div class="row" style="margin-left:5%;margin-right:5%;margin-top:3%">
                        <div class="col-md-4" style="color:black">
                             Joining date:
                        </div>
                        <div class="col-md-8">
                            {{data.joining_date}}
                        </div>
                    </div>
                    <div class="row"  style="margin-left:23%;margin-right:5%;margin-top:3%;margin-bottom:2%"> <a href="/updatedProfeilTeacher"> <button class="btn btn-success" style="float:center">Update</button></a>
</div>
                </div>
            </div>
        </div>
    </section>


    <div class="footer">
			<div class="wthree-copyright">
			  <p> Oct 2022 | Design by <a href="https://www.linkedin.com/in/priyanshu-sisodiya-b724a8213/" target="_blank">Priyanshu Sisodiya</a></p>
			</div>
 </div>
    <!-- / footer -->
</section>
{% endblock %}