{% load custom_tags %}
{% load static %}
<section id="main-content">
    <section class="wrapper">
        <div class="table-agile-info">
            <div class="panel panel-default">

                    <h5 align="center" style="padding:6px">Online Quiz Report Card</h5><hr>
                </div>
                <div class="container" align="center">
                        <table >
                            <tr>
                                <td>
                                    <img src="https://cdn.pixabay.com/photo/2017/06/22/20/33/quiz-2432440__340.png" style="width:200px"/>
                                </td>

                                <td>
                                    <table class="table" style="width:100px;padding:20px">
                                        <tr>
                                            <th style="color:black">Name</th>
                                            <td style="color:black">{{data.user.first_name}} {{data.user.last_name}}</td>
                                        </tr>

                                        <tr>
                                            <th style="color:black">Email</th>
                                            <td style="color:black">{{data.user.email}}</td>
                                        </tr>
                                        <tr>
                                            <th style="color:black">Branch</th>
                                            <td style="color:black">{{data.branch_name.branch_name}}</td>
                                        </tr>
                                    </table>
                                </td>


                                <td>
                                    <table class="table" style="width:200px;padding:30px">
                                        <tr>
                                            <th style="color:black">Obtain</th>
                                            <td style="color:black">{{data.user|obtainmarks}}</td>
                                        </tr>

                                        <tr>
                                            <th style="color:black">Total</th>
                                            <td style="color:black">{{data.user|totalmarks}}</td>
                                        </tr>

                                        <tr>
                                            <th style="color:black">Percentage</th>
                                            <td style="color:black">{% getpercent data.user|totalmarks data.user|obtainmarks %} %
                                            </td>
                                        </tr>
                                    </table>
                                </td>


                                <td>
                                    <img src="https://cdn.pixabay.com/photo/2017/06/22/20/33/quiz-2432440__340.png" style="width:200px"/>
                                </td>
                        </table>
                        <table  style="color:black;border:1px solid black;width:930">
                            <thead>
                            <tr style="color:black;border:1px solid black;background-color:grey">
                                <th style="color:black;border:1px solid black">Course</th>
                                <th style="color:black;border:1px solid black">Total Marks</th>
                                <th style="color:black;border:1px solid black">Pass Marks</th>
                                <th style="color:black;border:1px solid black">Obtain Marks</th>
                            </tr>
                            </thead>
                            <tbody >
                            {% for i in q %}
                            <tr style="color:black;border:1px solid black">
                                <td style="color:black;border:1px solid black">{{i.courses.courses_name}}</td>
                                <td style="color:black;border:1px solid black">{{i.courses.total_marks}}</td>
                                <td style="color:black;border:1px solid black">30%</td>
                                <td style="color:black;border:1px solid black">{{i.marks}}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                      </a>


                </div>

            </div>
        </div>
    </section>


</section>